<div class="container-fluid">
    <div class="title-group mb-3 d-flex justify-content-between align-items-center">
        <h1 class="h2 mb-0">Agregar Distribuidor</h1>
        <a href="/distribuidor" class="btn btn-light">Regresar</a>
    </div>
    
    <div class="row my-4">
      <div class="col-lg-12 col-12">
        <div class="custom-block bg-white p-4">
          <h6 class="mb-4">Agregar Distribuidor</h6>
  
         
          <form class="custom-form add-employee-form" action="/agregar" method="POST">
            <select class="form-control mb-3" name="usuario_id" id="usuario_id" required>
              <option value="" disabled selected>Seleccione un distribuidor</option>
              <% usuarios.forEach(usuario => { %>
                <option value="<%= usuario.id %>"><%= usuario.nombre %></option>
              <% }) %>
            </select>
            <input class="form-control mb-3" type="text" name="empresa" placeholder="Empresa" required>
            <input class="form-control mb-3" type="text" name="telefono" placeholder="Teléfono" required>
            <input class="form-control mb-3" type="text" name="direccion" placeholder="Dirección" required>
            <input class="form-control mb-3" type="text" name="zona_cobertura" placeholder="Zona de Cobertura" required>
  
            <div class="mt-3">
              <button type="submit" class="btn" style="background-color: #96C700; color: white;">Guardar</button>
              <a href="/distribuidor" class="btn btn-secondary">Cancelar</a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
