<main class="main-wrapper col-md-9 ms-sm-auto py-4 col-lg-9 px-md-4 border-start">

    <div class="row my-3">
        <div class="container">
            <div class="row row-cols-1 row-cols-md-3 g-4">
                <div class="col">
                    <div class="custom-block custom-block-profile-front custom-block-profile text-center bg-white">
                        <p class="d-flex flex-wrap mb-2">
                            <strong>Nombre:</strong>
                            <span>Thomas Edison</span>
                        </p>
                        <p class="d-flex flex-wrap mb-0">
                            <strong>Rol:</strong>
                            <a href="#">
                                Administrador
                            </a>
                        </p>
                        <p class="d-flex flex-wrap mb-2">
                            <strong>Correo:</strong>
                            <a href="#">
                                thomas@site.com
                            </a>
                        </p>
                        <p class="d-flex flex-wrap mb-0">
                            <strong>Telefono:</strong>
                            <a href="#">
                                (60) 12 345 6789
                            </a>
                        </p>
                    </div>
                </div>
                <!-- Repeat the above col div 8 more times to complete the 3x3 grid -->
            </div>
        </div>
    </div>

</main>