<main class="main-wrapper col-md-9 ms-sm-auto py-4 col-lg-9 px-md-4 border-start">
    <div class="title-group mb-3">
        <h1 class="h2 mb-0">Productos</h1>
    </div>

    <div class="row my-4">
        <div class="col-lg-12 col-12">
            <div class="custom-block bg-white">
                <ul class="nav nav-tabs" id="productoTab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <button class="nav-link active" id="add-producto-tab" data-bs-toggle="tab"
                            data-bs-target="#add-producto-tab-pane" type="button" role="tab"
                            aria-controls="add-producto-tab-pane" aria-selected="true">Agregar Producto</button>
                    </li>
                </ul>

                <div class="tab-content" id="productoTabContent">
                    <!-- Agregar Producto -->
                    <div class="tab-pane fade show active" id="add-producto-tab-pane" role="tabpanel"
                        aria-labelledby="add-producto-tab">
                        <h6 class="mb-4">Agregar Producto</h6>
                        <form class="custom-form add-producto-form" action="/producto/agregar" method="POST" role="form">
                            <input class="form-control mb-3" type="text" name="nombre" id="nombre" placeholder="Nombre" required>
                            <input class="form-control mb-3" type="number" step="0.01" name="precio" id="precio" placeholder="Precio" required>
                            <input class="form-control mb-3" type="number" name="stock" id="stock" placeholder="Stock" required>
                        
                            <label for="formulaciones_id">Seleccionar Fórmula:</label>
                            <select class="form-control mb-3" name="formulaciones_id" id="formulaciones_id" required>
                                <option value="">Seleccione una Fórmula</option>
                                <% formulaciones.forEach(formulacion => { %>
                                    <option value="<%= formulacion.id %>"><%= formulacion.nombre %></option>
                                <% }) %>
                            </select>
                        
                            <div class="d-flex">
                                <button type="submit" class="form-control ms-2">Guardar</button>
                            </div>
                        </form>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer class="site-footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-12">
                    <p class="copyright-text">Copyright © Mini Finance 2048
                        - Design: <a rel="sponsored" href="https://www.tooplate.com" target="_blank">Tooplate</a></p>
                </div>
            </div>
        </div>
    </footer>
</main>


