.btn {
    background-color: #FBB800;  
    border-color: #F49602;
    color: white;
}
.btn:hover {
    background-color: #F49602;
    border-color: #F14B00;
}
.btn:active {
    background-color: #F14B00;
    border-color: #96C700;
}
.nav-link {
    color: black !important;
    white-space: nowrap; /* Ensure text stays on one line */
    overflow: hidden; /* Hide overflow if text is too long */
    text-overflow: ellipsis; /* Add ellipsis for overflowed text */
    transition: background-color 0.3s ease, color 0.3s ease;
}
.nav-link:hover {
    background-color: #96C700 !important;
    color: white !important;
}
.nav-link strong {
    transition: color 0.3s ease;
}
#sidebarMenu {
    width: auto !important; /* Adjust width dynamically based on content */
    min-width: 200px; /* Set a minimum width for better appearance */
    max-width: 300px; /* Set a maximum width to avoid excessive size */
}

/* En custom-styles.css */
.form-check-input {
    cursor: pointer;
}

.form-check-input:checked {
    background-color: #FBB800;
    border-color: #F49602;
}

.custom-block-edit-icon {
    background-color: #FBB800;
    border: 2px solid #F49602;
    color: white;
    border-radius: 12px;
    padding: 6px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    width: 36px;
    height: 36px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.custom-block-edit-icon:hover {
    background-color: #F49602;
    border-color: #F14B00;
    color: white;
}

/* Datatables */

.dataTables_wrapper .dataTables_filter {
    float: right;
    text-align: right;
}

/* Typography Settings */
body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    line-height: 1.6;
}

h1, .h1, h2, .h2 {
    font-family: 'Poppins', sans-serif;
    font-weight: 700; /* Bold */
    margin-bottom: 1rem;
}

h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600; /* Semi Bold */
    margin-bottom: 0.75rem;
}

.title-group h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}

.custom-block h6, .custom-block .h6 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

.btn, button {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

