<tr>
    <td>
        <select class="form-select" name="items[INDEX][inventoryItemId]" required>
            <option value="">Seleccione ingrediente...</option>
            <% if (typeof inventoryItems !== 'undefined' && inventoryItems) { %>
                <% inventoryItems.forEach(item => { %>
                    <option value="<%= item.id %>">
                        <%= item.name %> (<%= item.sku %>)
                    </option>
                <% }) %>
            <% } %>
        </select>
    </td>
    <td>
        <input type="number" 
               class="form-control" 
               name="items[INDEX][quantityPerUnit]" 
               step="0.01" 
               min="0.01" 
               required
               placeholder="0.00">
    </td>
    <td>
        <span class="ingredient-unit text-muted">-</span>
    </td>
    <td>
        <button type="button" 
                class="btn btn-sm btn-outline-danger" 
                onclick="eliminarIngrediente(this)"
                title="Eliminar ingrediente">
            <i class="bi-trash"></i>
        </button>
    </td>
</tr>
