<main class="main-wrapper col-md-9 ms-sm-auto py-4 col-lg-9 px-md-4 border-start">
    <div class="title-group mb-3">
        <h1 class="h2 mb-0">Materias Primas</h1>
    </div>

    <div class="row my-4">
        <div class="col-lg-12 col-12">
            <div class="custom-block bg-white">
                <ul class="nav nav-tabs" id="materiaPrimaTab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <button class="nav-link active" id="add-materiaPrima-tab" data-bs-toggle="tab"
                            data-bs-target="#add-materiaPrima-tab-pane" type="button" role="tab"
                            aria-controls="add-materiaPrima-tab-pane" aria-selected="true">Agregar Materia Prima</button>
                    </li>
                </ul>

                <div class="tab-content" id="materiaPrimaTabContent">
                    <!-- Agregar Materia Prima -->
                    <div class="tab-pane fade show active" id="add-materiaPrima-tab-pane" role="tabpanel"
                        aria-labelledby="add-materiaPrima-tab">
                        <h6 class="mb-4">Agregar Materia Prima</h6>
                        <form class="custom-form add-materiaPrima-form" action="/materiaPrima/agregar" method="POST" role="form">
                            <input class="form-control mb-3" type="text" name="nombre" id="nombre" placeholder="Nombre" required>
                            <input class="form-control mb-3" type="number" step="0.01" name="precio" id="precio" placeholder="Precio" required>
                            <input class="form-control mb-3" type="number" name="stock" id="stock" placeholder="Stock" required>
                            <div class="d-flex">
                                <button type="submit" class="form-control ms-2">Guardar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    
</main>
